*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
header{
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
header h1{
  margin: 0;
}
nav ul{
  list-style-type: none;
}

nav ul li{
  display: inline;
  margin-right: 1rem;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
main{
  padding: 2rem;
}
.hero{
  text-align: center;
  padding: 1rem;
  background-color: #f4f4f4;
}
.hero h2{
  margin-bottom: 1rem;
}
.btn{
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  border-radius: 7rem;
  cursor: pointer;
}
.btn:hover{
  background-color: #555;
}
/* .featured-products{
  text-align: center;
} */
/* .products-container{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
} */
/* .product{
  width: 200px;
  height: 200px;
  margin: 0 1rem;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
} */
/* .product:hover{
  transform: translateY(-5px);
} */
/* .product img{
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
} */
/* .product .product-info{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 0 0 5px 5px;
} */





/* .product h3, .product .price{
  margin: 0;
} */
/* .product p.price{
    font-weight: bold;
} */
/* .product .buy-btn{
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
} */
/* .product .buy-btn:hover{
    background-color: #555;
} */


















footer{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
